.signin-form-cont{
    max-width: 500px;
    width: 100%;
    min-width: 450px;
}

.remember-me{
    margin: 20px 0 35px;
    display: flex;
    justify-content: space-between;
}

.form-heading{
    margin-bottom: 25px;
    h2{
        margin-bottom: 5px;
    }
    h6{
        font-size: 17px;

    }
}
