.modal-form{
    padding: 32px 11px 11px !important;
    margin-top: 15px;
}
.modal-form .style-btn{
    margin-top: 0;
}
.style-modal .ant-modal-content{
    border-radius: 25px;
    max-height: 500px;
    overflow-y: auto;
}